.container {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    z-index: 10;
}

.header-left {
    float: left;
    height: 65px;
    width: 300px;
}

.header-left img {
    width: 50px;
    height: 50px;
    padding: 10px;
    display: inline-block;
}

.header-left p {
    font-size: 20px;
    color: #00AA00;
    display: inline-block;
    position: absolute;
    top: auto;
}

.header-right {
    float: right;
    transition: all 0.5s;
}

.header-right ul {
    list-style-type: none;
    line-height: 33px;
    padding: 0 25px;
    display: block;
}

.header-right li {
    display: inline;
    padding: 30px 10px 25px 10px;
}

.header-right a {
    color: black;
    text-decoration: none;
}

.header-right a:hover {
    color: blue;
    text-decoration: none;
}

.main {
    padding: 57px 0 100px 0;
    height: 300px;
}

.image {
     text-align: center;
}

.content-left {
    width: 15%;
    display: inline-block;
    margin-left: 20px;
}

.youtube ul {
    list-style-type: none;
    display: table;
    padding-left: 0;
}

.youtube li {
    display: inline;
    vertical-align: middle;
}

.youtube img {
    border: 3px solid #000000;
    border-radius: 50%;
    width:  50px;
    height: 50px;
}

.button {
    font-size:12px;
    color:#FFFFFF;
    text-align:center;
    padding: 20px 15px 20px 15px;
    background: #ff0000;
    border-radius: 5px;
    text-decoration: none;
}

.button:hover {
    cursor : pointer;
    background: #ff4444;
}

.content-center {
    width: 60%;
    display: inline-block;
    position: absolute;
}

.content-center ul {
    list-style-type: none;
}

.search-area input[type="text"] {
    padding: 5px 5px 3px;
    font-size: 16px;
    border: 1px solid #D6D6D6;
}

.search-area input[type="text"]:focus {
    background: #F9F9F9;
}

.search-result {
    margin-top: 20px;
}
.hit-num__text span {
    font-weight: bold;
}
#search-result__list {
    margin-top: 15px;
}
#search-result__list span {
    display: inline-block;
    margin-right: 15px;
    padding: 5px;
    background: #F2F2F2;
}
.target-area {
    margin-top: 50px;
}

.target-area li {
    margin-right: 30px;
    margin-left: -40px;
    background-color: #F2F2F2;
}

.target-area .hidden {
    display: none
}

.song-list img {
    width: 40%;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
}

.song-name {
    display: inline-block;
    height: 160px;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
}

.content-right {
    width: 20%;
    padding-right: 40px;
    float: right;
}

.responsive-twitter {
    display: none;
}

@media screen and (max-width: 480px){
    .container {
        width: 90%;
        padding: 0 15px;
        margin: 0 auto;
    }

    header {
        height: 65px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        position: fixed;
        top: 0;
        z-index: 10;
    }

    .header-left {
        float: left;
        height: 65px;
        width: 100px;
    }

    .header-left img {
        width: 30px;
        height: 30px;
        padding: 10px;
        display: inline-block;
    }

    .header-left p {
        font-size: 15px;
        color: #00AA00;
        display: inline-block;
        position: absolute;
        top: auto;
    }

    .header-right ul {
        list-style-type: none;
        line-height: 33px;
        display: none;
    }

    .header-right li {
        display: inline;
    }

    .header-right a {
        color: black;
        text-decoration: none;
    }

    .content-left {
        width: 100%;
        display: inline;
    }

    .youtube {
        width: 50%;
        margin-right: auto;
        margin-left: auto;
    }

    .responsive-twitter {
        display: inline;
    }

    .twitter {
        width: 90%;
        height: 40%;
        margin-right: auto;
        margin-left: auto;
        padding-bottom: 90%;
    }

    .content-center {
        width: 100%;
        display: inline;
        padding-bottom: 10px;
    }

    .wrapper {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }

    .search-area {
        text-align: center;
    }

    .target-area {
        display: table;
        padding-left: 0;
    }

    .target-area li {
        margin-right: 0;
        margin-left: 0;
        background-color: #F2F2F2;
    }

    .song-list img {
        width: 90%;
        padding: 15px 15px 15px 15px;
    }

    .song-name {
        display: table;
        vertical-align: top;
        padding: 15px 15px 5px 15px;
    }

    .content-right {
        display: none;
    }
}